<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">Usuario</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Nombre Usuario" formControlName="firstName" required>
                <mat-error *ngIf="infoForm.controls.firstName.errors?.required">El nombre es obligatorio</mat-error>
                <mat-error *ngIf="infoForm.controls.firstName.hasError('minlength')">El nombre de usuario no puede ser menor a 6 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Correo" formControlName="email" required>
                <mat-error *ngIf="infoForm.controls.email.errors?.required">El correo es obligatorio</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')">Correo no valido</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit(infoForm.value)">Guardar</button>
            </div> 
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">Cambiar Contraseña</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Contraseña" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">La actual contraseña es obligatoria</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">La contraseña no puede tener menos de 6 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Nueva Contraseña" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">La nueva contraseña es obligatoria</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">La nueva contraseña no puede tener menos de 6 caracteres</mat-error>
            </mat-form-field> 
            <mat-form-field class="w-100 mt-1">
              <input matInput placeholder="Confirmar Nueva Contraseña" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Vuelva a escribir la nueva contraseña</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onPasswordFormSubmit(passwordForm.value)">Guardar</button>
            </div>
        </form>
    </div>
</div> 
