<mat-stepper #horizontalStepper [orientation]="stepperOrientation" linear="true" class="mat-elevation-z2">
  <mat-step>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
      <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
      <h2 class="py-2">Felicidades, se creo su reserva con exito</h2>
      <p class="text-muted">Gracias por preferirnos, esperamos que disfrutes tu instancia en nuestras instalaciones.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <a [routerLink]="['/']" mat-raised-button color="primary">Volver al home</a>       
    </div>
  </mat-step>
</mat-stepper>
