<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Fecha de ingreso</div>
      <div class="mat-header-cell">Fecha de Salida</div>
      <div class="mat-header-cell">Días</div>
      <div class="mat-header-cell">Estado</div>
      <div class="mat-header-cell"></div>
    </div>
    <div *ngFor="let res of reservas" class="mat-row">
      <div class="mat-cell">{{res.FECHA_INGRESO}}</div>
      <div class="mat-cell">{{res.FECHA_SALIDA}}</div>
      <div class="mat-cell">{{res.CANT_DIA_RESERVA}}</div>     
      <div class="mat-cell">{{res.ESTADO_RESERVA}}</div>     
      <div class="mat-cell">
        <div class="p-1 actions">          
          <button mat-mini-fab color="primary" matTooltip="View">
              <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="accent" matTooltip="Editar" class="btn-invoice">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" matTooltip="Cancelar" class="btn-invoice" (click)="cancelarReserva(res)">
              <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>      
    </div>
  </div>