<mat-stepper #horizontalStepper [orientation]="stepperOrientation" linear="true" class="mat-elevation-z2">
  <mat-step [stepControl]="billingForm" label="Informacion de reserva">
    <form [formGroup]="billingForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha ingreso</mat-label>
              <input matInput [matDatepicker]="dateInit" formControlName="dateInit" (dateChange)="validDateInit()">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="dateInit"></mat-datepicker-toggle>
                <mat-datepicker #dateInit></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha salida</mat-label>
              <input matInput [matDatepicker]="dateEnd" formControlName="dateEnd" (dateChange)="changeDay()">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cantidad de días</mat-label>
              <input matInput placeholder="Cantidad días" formControlName="cantDias" readonly="">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button (click)="initTrasaction()" mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after" disabled="{{this.valid}}"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Resumen">    
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Reserva</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell"></div>
            <div class="mat-header-cell">Departamento</div>
            <div class="mat-header-cell">Precio por día</div>      
            <div class="mat-header-cell">Cant noches</div>
            <div class="mat-header-cell">Total</div>
          </div>
          <div *ngFor="let product of appService.Data.cartList" class="mat-row">
            <div class="mat-cell"><img [src]="product.images[0].small"></div>
            <div class="mat-cell">{{product.name}}</div>
            <div class="mat-cell">${{product.newPrice | number : '1.0-0'}}</div>      
            <div class="mat-cell text-muted"> {{this.diffDays}} </div>
            <div class="mat-cell">${{ (product.newPrice*this.diffDays) | number : '1.0-0'}}</div>
          </div>
        </div>
      </div> 
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Informacion del pago</h3>
        <div class="divider"></div>
        <p class="py-1"><span class="text-muted mr-1">Numero de tarjeta:</span><span>XXX-XXX-XXX-7224</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1"> 
       <h2><span class="text-muted mr-1">Monto para reservar:</span><span>${{this.abono | number : '1.0-0'}}</span></h2>    
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <form action="{{this.transbank.url}}" method="POST">
        <input type="hidden" name="token_ws" value="{{this.transbank.token}}">
        <!-- <button type="submit" mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>    -->    
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
        <button type="submit" mat-raised-button matStepperNext color="primary" (click)="placeOrder()">Ir a pagar</button>       
      </form>
    </div>     
  </mat-step>
</mat-stepper>